$font-color:red;
$secondary-color:darkblue;
$background:url('../img/prova.jpg');

.flex{
  display:flex;
}
.wrapper{
  width:100%;
  height:100%;
  max-width:100vw;
  background-color:green;
}
.header{
  &-top{
   flex-direction:column;
   align-items:center;
  h2 {
    color: $font-color;
    strong{
      font-style: italic;
    }
  }
  h3 {
    color: $font-color;
  }

}
&-bottom{
  color:$secondary-color;
  padding:0 30px;
}
}
main{
  height:300px;
  .left,.right{
    display:flex;
    flex-direction: column;
    align-items:center;
   justify-content: center;
    width:33.33%;
    background-color: red;
    border:1px solid black;
  }
  .center{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;
    width:33.33%;
    background-color: red;
    border:1px solid black;
     &_form{
       &_radio,&_checkboxes,&_send{
       display:flex;
       justify-content: center;
     }
   }
  }
  .left{
    img {
      width:50px;
      height:50px;
    }
  }


}
.footer{
  width:100%;
  height:300px;
  background-image:$background;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 -210px;
}
